*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
semac/app/logs/*/*/*
semac/app/cache/*/*
nbproject/
.idea

TESTING.md
CHANGELOG.md

semac/app/config/auth.php
semac/app/config/simpleauth.php
semac/app/config/crypt.php
semac/app/config/migrations.php
semac/app/config/mailer.php

semac/app/config/development/*.php
semac/app/config/production/*.php

public/doc/*

deploy
.syncignore
