*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
nbproject/
.idea

TESTING.md
CHANGELOG.md

fuel/app/config/db.php
fuel/app/config/auth.php
fuel/app/config/simpleauth.php

deploy
.syncignore
