[submodule "semac/core"]
	path = semac/core
	url = git://github.com/fuel/core.git
[submodule "semac/packages/orm"]
	path = semac/packages/orm
	url = git://github.com/fuel/orm.git
[submodule "semac/packages/auth"]
	path = semac/packages/auth
	url = git://github.com/fuel/auth.git
[submodule "semac/packages/oil"]
	path = semac/packages/oil
	url = git://github.com/fuel/oil.git
