body {
	padding-top: 60px;
	/*padding-bottom: 40px;*/
}
.sidebar-nav {
	padding: 9px 0;
}

.del {
	color:red;
	font-size:20px;
	font-weight:bold;
	line-height:13.5px;
	text-shadow:0 1px 0 #ffffff;
	filter:alpha(opacity=50);
	-khtml-opacity:0.5;
	-moz-opacity:0.5;
	opacity:0.5;
}
.del:hover{
	color:red;
	text-decoration:none;
	filter:alpha(opacity=80);
	-khtml-opacity:0.8;
	-moz-opacity:0.8;
	opacity:0.8;
}

.plus {
	color:#000000;
	font-size:20px;
	font-weight:bold;
	line-height:13.5px;
	text-shadow:0 1px 0 #ffffff;
	filter:alpha(opacity=20);
	-khtml-opacity:0.2;
	-moz-opacity:0.2;opacity:0.2;
}

.plus:hover{
	color:green;
	text-decoration:none;
	filter:alpha(opacity=80);
	-khtml-opacity:0.8;
	-moz-opacity:0.8;
	opacity:0.8;
}