<?php

return array(

	/*
	 * Configuração do servidor SMTP
	 */
	'smtp' => array(
		'secure' => 'ssl',
		'host'   => 'smtp.inf.ufrgs.br',
		'port'   => 465,
		'credentials' => array(
			'user' => 'email@inf.ufrgs.br',
			'pass' => 'password',
		),
	),
	
	/*
	 * Configuração do e-mail
	 */
	'charset' => 'utf-8',
	'from'    => array(
		'name'  => 'SEMAC',
		'email' => 'email@inf.ufrgs.br',
	),

);
