.popover { margin-top: -15px; }

.sidebar-nav {
	padding: 9px 0;
}

.plus, .del {
	color:#000000;
	font-size:20px;
	font-weight:bold;
	line-height:13.5px;
	text-shadow:0 1px 0 #ffffff;
	filter:alpha(opacity=20);
	-khtml-opacity:0.2;
	-moz-opacity:0.2;opacity:0.2;
}

.plus:hover, .del:hover {
	text-decoration:none;
	filter:alpha(opacity=80);
	-khtml-opacity:0.8;
	-moz-opacity:0.8;
	opacity:0.8;
}

.plus:hover {
	color:green;
}

.del:hover {
	color:red;
}

.fb-comments, .fb-comments > span[style], .fb_iframe_widget iframe[style] { width: 100% !important; }

.qrcode {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  opacity: 0.1;
}

/* Jumbotrons
================================================================= */

/* Base class
======================== */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  margin-bottom: 20px;

  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(135deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Pattern overlay
========================= */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}

/* Tablet to desktop
========================= */
@media (min-width: 768px) and (max-width: 980px) {
  .main { margin-top: -20px; }
}

/* Tablet
========================= */
@media (max-width: 768px) {
  .main { margin: -20px; padding: 20px;}
  .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
  }
}

/* Landscape phones
========================= */
@media (max-width: 480px) {
  .jumbotron h1 {
    font-size: 60px;
  }
  .jumbotron p,
  .jumbotron .btn {
    font-size: 20px;
  }
  .jumbotron .btn {
    display: block;
    margin: 0 auto;
  }
}


/* Footer
=================================================- */

body, html {
  height:100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* ie7 fix */
  height: 100%;
  margin: 0 auto -144px;
}

@media (min-width:979px) {
  .wrapper > .main {
    padding-top: 40px;
  }
}

.wrapper > .main {
  overflow: auto;
  padding-bottom: 164px;
}

.footer {
  width: 100%;
  height: 144px;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}

/* Social proof buttons from GitHub & Twitter */
.footer .social {
  padding: 15px 0;
  text-align: center;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* Quick links on Home */
.footer .social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.footer .social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}